<ion-side-menus enable-menu-with-back-views="false">
<ion-side-menu-content>
<ion-nav-bar class="bar-stable">
<ion-nav-back-button>
</ion-nav-back-button>

<ion-nav-buttons side="left" ng-controller="menuControl">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
</button>
</ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view name="menuContent"></ion-nav-view>
</ion-side-menu-content>

<ion-side-menu side="left" class="side-menu">
<ion-header-bar class="bar-stable">
<h1 class="title">Menu</h1>
</ion-header-bar>
<ion-content>

<div  class="menuProfile" ng-show="currentUser != null">
  <img ng-src="{{currentUser.profileImage}}" alt="Anonymous" class="avatar">
  <div>
    <span class="message-header">{{currentUser.nickname}}</span>
  </div>
</div>

<ion-list>
<ion-item menu-close ng-click="login()" ng-hide="currentUser">
<i class="icon ion-log-in"></i>
Login
</ion-item>
<ion-item menu-close ng-click="signup()" ng-hide="currentUser">
<i class="icon ion-android-arrow-dropup-circle"></i>
Signup
</ion-item>
<ion-item menu-close ng-click="logout()" ng-show="currentUser">
<i class="icon ion-log-out"></i>
Logout
</ion-item>
<ion-item menu-close ui-sref="app.roomlist">
<i class="icon ion-ios-chatboxes"></i>
All Rooms
</ion-item>
<ion-item menu-close ui-sref="app.recentchats" ng-show="currentUser">
<i class="icon ion-ios-chatbubble"></i>
Recent Visits
</ion-item>
<ion-item menu-close ui-sref="app.management" ng-show="currentUser">
<i class="icon ion-ios-gear"></i>
Room Management
</ion-item>
</ion-list>
</ion-content>
</ion-side-menu>
</ion-side-menus>
