<ion-view view-title="TestVoice">
  <ion-content>
    <div class="list list-inset">
      <form ng-submit="createNewRoom()">
        <label class="item item-input">
           <input type="file" nv-file-select uploader="uploader"/><br/>
            <ul>
              <li ng-repeat="item in uploader.queue">
                  Name: <span ng-bind="item.file.name"></span><br/>
                  <button ng-click="item.upload()">upload</button>
              </li>
            </ul>
        </label>
        <button class="button button-full button-positive">Create</button>
      </form>
    </div>
  </ion-content>
</ion-view>