<ion-view view-title="NewRoom">
  <ion-content>
    <div class="list list-inset">
      <form ng-submit="createNewRoom()">
        <label class="item item-input">
          <span class="input-label">Room Name</span>
          <input type="text" ng-model="room.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Topic</span>
          <input type="text" ng-model="room.topic">
        </label>
        <label class="item item-input">
          <span class="input-label">Discription</span>
          <input type="text" ng-model="room.discription">
        </label>

        <label class="item item-input">
          <span class="input-label">Upload Image</span>
          <div class="imageHolder">
            <img src="{{image_src}}" class="roomImage">
            <input type="file" ng-model="imageUpload" class="imageUpload"></input>
          </div>
        </label>
        <button class="button button-full button-positive">Create</button>
      </form>
    </div>
  </ion-content>
</ion-view>