<ion-view view-title="RoomManagement">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
      <ion-list>
        <ion-item ng-repeat="room in rooms" class="item item-thumbnail-left">
           <img ng-src="https://unsplash.it/100/100/?random">
          <h2>{{ room.name }}</h2>
          <p> Topic: {{ room.topic }}</p>
          <button class="button button-balanced col-offset-75" ng-click="edit(room._id)">Edit</button>
          <button class="button button-assertive" ng-click="remove(room._id)">Delete</button>
        </ion-item>
      </ion-list>
  </ion-content>
    <div class="bar bar-footer bar-balanced">
      <button class="button ion-plus-circled button-block button-balanced"
             id="createRoom" data-ui-sref="app.newroom">
              New Room
      </button>
    </div>
</ion-view>