<ion-view view-title="RoomList">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <ion-scroll zooming="true" direction="y" style="max-height: 500px">
      <ion-list inset>
        <a ng-repeat="room in rooms" ng-click="enterRoom(room)" class="item item-thumbnail-left">
          <img ng-src="{{ room.image }}">
          <h2>{{ room.name }}</h2>
          <h4>{{ room.discription }}</h4>
        </a>
      </ion-list>
    </ion-scroll>
    <ion-footer-bar class="bar bar-footer bar-balanced">
      <button class="button ion-plus-circled button-block button-balanced"
       id="createRoom" data-ui-sref="app.newroom" id="newroom">
        New Room
      </button>
   </ion-footer-bar>
  </ion-content>
</ion-view>